<section class="products-s1 container-fluid d-flex minh-100vh align-items-start py-5">
    <div class="row mx-0 w-100 mt-5">
        <aside class="col-12 col-sm-5 col-md-4 col-lg-3 pt-5">
            <div class="card opacity-8">
                <div class="card-header bg-light">
                    <h5 class="card-title text-secondary float-start">Filter</h5>   
                    <button class="btn btn-outline-secondary btn-sm float-end rounded" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#filters">
                        +
                    </button>                         
                </div>
                <div class="card-body collapse show" id="filters">
                    <form class="small">
                        <fieldset class="mb-3">
                            <legend>
                                <h6 class="card-subtitle">Categories</h6>
                            </legend>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>
                        </fieldset>
                        <fieldset class="mb-5 w-100">
                            <legend>
                                <h6 class="card-subtitle">Parameters</h6>
                            </legend>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                                    
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                                  
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                       
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>                
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>           
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>        
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>     
                            <div class="form-check ms-2">
                                <input class="form-check-input" type="checkbox" />
                                <label class="form-check-label">Item</label>
                            </div>
                        </fieldset>
                        <div class="w-100 text-end border-top pt-2">
                            <input type="reset" value="Clear" class="btn btn-sm btn-secondary rounded-pill"/>
                            <input type="submit" value="Filter" class="btn btn-sm btn-secondary rounded-pill"/>
                        </div>
                    </form>
                </div>
            </div>
        </aside>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9">

        </div>
    </div>
</section>