<section class="contact-s1 container-fluid d-flex align-items-center py-5 bg-dark minh-50vh">
  <div class="row mx-0 w-100 pt-5">
      <div class="col-12 col-md-5">
          <div class="text-dark text-center text-md-start p-5">
              <h1 class="text-uppercase fw-bold">
                  Contact us
              </h1>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                  sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua. Ut enim ad minim veniam
              </p>
          </div>
      </div>
  </div>
</section>       